{% extends 'base/base.html' %}

{% block content %}
<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">
    <div>
        <h3>
            Welcome {{room.name}}
        </h3>
        <p>{{room.description}}</p>
        <div class="comment-wrapper">
            <h3>Coversations</h3>
            <hr>
            {% for message in messages %}
            <div>
                {% if request.user == message.user %}
                <a href="{% url 'deletemessage' message.id %}">Delete</a>
                {% endif %}
                <small><strong>@{{message.user}}</strong> {{message.created|timesince}} ago</small><br>
                <p>{{message.body}}</p>
                <hr>
            </div>
            {% endfor %}
    
            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form action="{% url 'room' room.id %}" method="post">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" cols="40" rows="2" placeholder="enter something here..."></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {% for participant in participants %}
        <div>
            <p>@{{participant}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}